.container {
  max-width: var(--container-width);
  padding-right: var(--container-padding-horizontal);
  padding-left: var(--container-padding-horizontal);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container.is-max {
  width: 100%;
  max-width: none;
}

.container.is-large {
  max-width: var(--container-lg-width);
  width: 100%;
}

.container.is-small {
  max-width: var(--container-sm-width);
}

.container.margin-bottom_large {
  position: relative;
}

.section {
  padding-top: var(--section-padding-vertical);
  padding-bottom: var(--section-padding-vertical);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow: clip;
}

.section.is-secondary {
  background-color: var(--bg-secondary);
}

.section.is-accent-primary {
  background-color: var(--bg-accent-primary);
  color: var(--text-on-accent-primary);
}

.section.is-inverse {
  background-color: var(--bg-inverse);
  color: var(--text-inverse-primary);
}

.section.is-accent-secondary {
  background-color: var(--bg-accent-secondary);
  color: var(--text-on-accent-secondary);
}

.section.is-accent-tertiary {
  background-color: var(--bg-accent-tertiary);
  color: var(--text-on-accent-tertiary);
}

.section.overflow_hidden {
  margin-bottom: 0;
}

.eyebrow {
  margin-top: 0;
  margin-bottom: var(--1-25x);
  font-family: var(--eyebrow-font);
  font-size: var(--eyebrow-size);
  line-height: var(--eyebrow-line-height);
  font-weight: var(--base-font-weight);
  letter-spacing: var(--eyebrow-letter-spacing);
  text-transform: uppercase;
  color: color-mix(in srgb, currentColor 60%, transparent);
  display: inline-block;
}

.eyebrow.margin-bottom_none {
  margin-bottom: 0;
}

.grid_2-col {
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.grid_2-col.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.grid_2-col.gap-small.tablet-1-col.is-y-top.margin-top_medium {
  grid-row-gap: 2rem;
  grid-template-columns: minmax(0, 1fr) 1fr;
  grid-auto-rows: auto;
}

.grid_2-col.gap-medium {
  grid-column-gap: var(--md-gap);
  grid-row-gap: var(--md-gap);
}

.grid_2-col.tablet-1-col.gap-large {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
  grid-auto-columns: 1fr;
}

.grid_2-col.is-x-center {
  justify-items: center;
}

.grid_2-col.gap-xsmall {
  grid-column-gap: var(--xs-gap);
  grid-row-gap: var(--xs-gap);
  align-self: stretch;
}

.grid_2-col.gap-xsmall.height_100percent {
  grid-column-gap: 1rem;
  grid-template-columns: .35fr 1.5fr 1.5fr;
  grid-auto-columns: .35fr;
}

.grid_2-col.gap-large {
  grid-column-gap: var(--lg-gap);
  grid-row-gap: var(--lg-gap);
}

.grid_2-col.is-y-bottom {
  align-items: end;
}

.heading_h1 {
  margin-bottom: var(--h1-margin-bottom);
  font-family: var(--heading-font);
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-weight);
  letter-spacing: var(--h1-letter-spacing);
  text-wrap: balance;
}

.heading_h2 {
  margin-bottom: var(--h2-margin-bottom);
  font-family: var(--heading-font);
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  font-weight: var(--h2-weight);
  letter-spacing: var(--h2-letter-spacing);
  text-wrap: balance;
}

.heading_h3 {
  margin-bottom: var(--h3-margin-bottom);
  font-family: var(--heading-font);
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
  font-weight: var(--h3-weight);
  letter-spacing: var(--h3-letter-spacing);
}

.heading_h4 {
  margin-bottom: var(--h4-margin-bottom);
  font-family: var(--heading-font);
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
  font-weight: var(--h4-weight);
  letter-spacing: var(--h4-letter-spacing);
}

.heading_h5 {
  margin-bottom: var(--h5-margin-bottom);
  font-family: var(--heading-font);
  font-size: var(--h5-size);
  line-height: var(--h5-line-height);
  font-weight: var(--h5-weight);
  letter-spacing: var(--h3-letter-spacing);
}

.heading_h5.margin-bottom_none {
  margin-bottom: 0;
}

.paragraph_large {
  margin-bottom: var(--base-margin-bottom);
  font-family: var(--body-font);
  font-size: var(--lg-text-size);
  line-height: var(--lg-text-line-height);
  letter-spacing: var(--lg-text-letter-spacing);
}

.paragraph_small {
  margin-bottom: var(--base-margin-bottom);
  font-family: var(--body-font);
  font-size: var(--sm-text-size);
  line-height: var(--sm-text-line-height);
  letter-spacing: var(--sm-text-letter-spacing);
}

.button {
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  border: 0px solid var(--button-primary-border);
  border-radius: var(--button-radius);
  box-shadow: none;
  font-family: var(--button-font);
  color: var(--text-on-accent-primary);
  font-size: var(--base-font-size);
  text-align: center;
  cursor: pointer;
  background-color: #fa8c07;
  background-image: none;
  background-clip: border-box;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: border-color .2s, color .2s, background-color .2s cubic-bezier(.165, .84, .44, 1), box-shadow .2s;
  display: inline-flex;
}

.button:hover {
  border-color: var(--button-primary-border-hover);
  background-color: var(--accent-primary-hover);
  box-shadow: none;
  color: var(--button-primary-text);
}

.button:active {
  background-color: var(--accent-primary);
  box-shadow: none;
}

.button:focus {
  outline-color: var(--accent-primary);
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
}

.button.is-secondary {
  border-color: var(--button-secondary-border);
  box-shadow: 0 0 0 1px var(--neutral-inverse-a20) inset;
  color: var(--text-primary);
  background-color: #0000;
  background-image: none;
}

.button.is-secondary:hover {
  border-color: var(--button-secondary-border-hover);
  box-shadow: 0 0 0 1px var(--neutral-inverse-a40) inset;
  background-color: #0000;
}

.button.is-secondary:active {
  box-shadow: 0 0 0 1px var(--neutral-inverse-a20) inset;
  background-color: #0000;
}

.button.is-secondary.on-accent-primary {
  box-shadow: 0 0 0 1px var(--neutral-primary-a20) inset;
  color: var(--text-inverse-primary);
  background-color: #0000;
  background-image: none;
}

.button.is-secondary.on-accent-primary:hover {
  box-shadow: 0 0 0 1px var(--neutral-primary-a50) inset;
  color: var(--link-inverse-hover);
  background-color: #0000;
}

.button.is-secondary.on-accent-primary:active {
  box-shadow: 0 0 0 1px var(--neutral-primary-a20) inset;
  background-color: #0000;
}

.button.is-secondary.on-accent-secondary {
  box-shadow: 0 0 0 1px var(--neutral-inverse-a20) inset;
  color: var(--text-primary);
  background-color: #0000;
  background-image: none;
}

.button.is-secondary.on-accent-secondary:hover {
  box-shadow: 0 0 0 1px var(--neutral-inverse-a50) inset;
  color: var(--link-inverse-hover);
  background-color: #0000;
}

.button.is-secondary.on-accent-secondary:active {
  box-shadow: 0 0 0 1px var(--neutral-inverse-a20) inset;
  background-color: #0000;
}

.button.is-secondary.on-accent-tertiary {
  box-shadow: 0 0 0 1px var(--neutral-inverse-a20) inset;
  color: var(--text-primary);
  background-color: #0000;
  background-image: none;
}

.button.is-secondary.on-accent-tertiary:hover {
  box-shadow: 0 0 0 1px var(--neutral-inverse-a50) inset;
  background-color: #0000;
}

.button.is-secondary.on-accent-tertiary:active {
  box-shadow: 0 0 0 1px var(--neutral-inverse-a20) inset;
  background-color: #0000;
}

.button.is-secondary.on-inverse {
  background-color: var(--accent-primary);
  box-shadow: inset 0 0 0 1px var(--neutral-primary-a20);
  color: var(--text-inverse-primary);
  background-image: none;
}

.button.is-secondary.on-inverse:hover {
  box-shadow: 0 0 0 1px var(--neutral-primary-a40) inset;
  background-color: #0000;
}

.button.is-secondary.on-inverse:active {
  box-shadow: 0 0 0 1px var(--neutral-primary-a20) inset;
  background-color: #0000;
}

.button.is-small {
  font-size: var(--0-75x);
}

.button.is-inverse {
  background-color: var(--accent-primary);
  color: var(--neutral-primary);
  border-color: #0000;
}

.button.is-inverse:hover {
  background-color: var(--accent-primary-hover);
  border-color: #0000;
}

.button.on-accent-primary {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
}

.button.on-accent-primary:hover {
  background-color: var(--neutral-primary-a70);
  box-shadow: none;
  border-color: #0000;
}

.button.on-accent-primary:active {
  background-color: var(--bg-primary);
  box-shadow: none;
}

.button.on-inverse {
  box-shadow: none;
  color: var(--text-on-accent-primary);
  background-color: #fa8c07;
  background-image: none;
  border-color: #0000;
  display: flex;
}

.button.on-inverse:hover {
  box-shadow: none;
  background-color: #fa8c07;
  border-color: #0000;
}

.button.on-inverse:active {
  background-color: var(--accent-primary);
  box-shadow: none;
}

.button.on-accent-secondary {
  background-color: var(--bg-inverse);
  box-shadow: none;
  color: var(--text-inverse-primary);
  background-image: none;
}

.button.on-accent-secondary:hover {
  background-color: var(--neutral-inverse-a70);
  box-shadow: none;
  color: var(--text-primary);
}

.button.on-accent-secondary:active {
  background-color: var(--bg-inverse);
  box-shadow: none;
}

.button.on-accent-tertiary {
  background-color: var(--bg-inverse);
  box-shadow: none;
  color: var(--text-inverse-primary);
  background-image: none;
}

.button.on-accent-tertiary:hover {
  background-color: var(--neutral-inverse-a70);
  box-shadow: none;
}

.button.on-accent-tertiary:active {
  background-color: var(--bg-inverse);
  box-shadow: none;
}

.button.margin-top_small {
  background-color: var(--accent-primary);
}

.input_field.is-select.on-inverse {
  border-width: 0;
  border-color: var(--border-primary);
  background-color: var(--bg-primary);
  box-shadow: 0 0 0 1px var(--border-primary);
  color: var(--text-primary);
  background-image: url("https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg");
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: 14px;
}

.input_field.is-select.on-inverse:hover {
  border-width: 0;
  border-color: var(--border-primary);
  background-color: var(--bg-primary);
  box-shadow: 0 0 0 1px var(--border-primary);
  background-image: url("https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg");
  background-position: 97%;
  background-repeat: no-repeat;
  background-size: 14px;
}

.input_field.on-inverse {
  border-color: var(--input-inverse-border);
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
}

.input_field.on-inverse:hover {
  border-color: var(--input-inverse-border-hover);
  background-color: var(--bg-primary);
  box-shadow: none;
}

.input_field.on-inverse:focus {
  border-color: var(--input-inverse-border);
  outline-color: var(--accent-primary);
}

.input_field.on-inverse::placeholder {
  color: var(--input-inverse-text-placeholder);
}

.input_field.is-inverse {
  border-color: var(--input-inverse-border);
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
  min-height: 7.5rem;
}

.input_field.is-inverse:hover {
  border-color: var(--input-inverse-border-hover);
  background-color: var(--bg-primary);
  box-shadow: none;
}

.input_field.is-inverse::placeholder {
  color: var(--input-inverse-text-placeholder);
}

.margin-top_none {
  margin-top: 0 !important;
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

.padding-bottom_none {
  padding-bottom: 0 !important;
}

.overflow_hidden {
  overflow: hidden;
}

.screen-reader {
  white-space: nowrap;
  border: 0 solid #0000;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.text-align_center {
  text-align: center;
}

.margin_top-auto {
  margin-top: auto !important;
}

.position_relative {
  position: relative;
}

.position_sticky {
  position: sticky;
  top: 0;
}

.position_sticky.is-top-section-padding {
  top: var(--section-padding-vertical);
}

.checkbox_toggle.on-inverse {
  border-color: var(--input-inverse-border);
  background-color: var(--input-inverse-bg);
}

.checkbox_toggle.on-inverse:hover {
  border-color: var(--input-inverse-border-hover);
  background-color: var(--input-inverse-bg-hover);
}

.checkbox_toggle.on-inverse.w--redirected-checked {
  border-color: var(--input-inverse-text);
  background-color: var(--input-inverse-text);
  background-image: none;
}

.avatar.is-small {
  width: var(--2x);
  height: var(--2x);
}

.avatar.is-large {
  width: var(--5x);
  height: var(--5x);
}

.image_cover {
  float: none;
  clear: none;
  vertical-align: baseline;
  object-fit: cover;
  --eyebrow-font: var(--body-font);
  --eyebrow-size: .8rem;
  --eyebrow-line-height: 1.3em;
  --base-font-weight: 400;
  --eyebrow-letter-spacing: .01em;
  --h0-margin-bottom: .3em;
  --heading-font: Poppins, sans-serif;
  --h0-size: 2.87rem;
  --h0-line-height: 1.2em;
  --h0-weight: 400;
  --h0-letter-spacing: -.01em;
  --h1-margin-bottom: .3em;
  --h1-size: 2.15rem;
  --h1-line-height: 1.04em;
  --h1-weight: 400;
  --h1-letter-spacing: -.01em;
  --h2-margin-bottom: .35em;
  --h2-size: 1.21rem;
  --h2-line-height: 1.04em;
  --h2-weight: 400;
  --h2-letter-spacing: -.01em;
  --h3-margin-bottom: .5em;
  --h3-size: .91rem;
  --h3-line-height: 1.04em;
  --h3-weight: 400;
  --h3-letter-spacing: -.01em;
  --h4-margin-bottom: .35em;
  --h4-size: .97rem;
  --h4-line-height: 1.3em;
  --h4-weight: 400;
  --h4-letter-spacing: -.01em;
  --h5-margin-bottom: .5em;
  --h5-size: 1rem;
  --h5-line-height: 1.3em;
  --h5-weight: 400;
  --h6-margin-bottom: .5em;
  --h6-size: .75rem;
  --h6-line-height: 1.3em;
  --h6-weight: 400;
  --h6-letter-spacing: .1em;
  --base-margin-bottom: .7em;
  --body-font: "Instrument Sans", sans-serif;
  --lg-text-size: 1.1rem;
  --lg-text-line-height: 1.6em;
  --lg-text-letter-spacing: 0em;
  --xl-text-size: 1.2rem;
  --xl-text-line-height: 1.6em;
  --xl-text-letter-spacing: 0em;
  --sm-text-size: .88rem;
  --sm-text-line-height: 1.6em;
  --sm-text-letter-spacing: 0em;
  --button-font: var(--button-font);
  --base-font-size: 1rem;
  --xxl-text-size: 1.4rem;
  --xxl-text-line-height: 1.6em;
  --xxl-text-letter-spacing: 0em;
  --tag-size: .75rem;
  --text-size: 1rem;
  --base-font: var(--body-font);
  --blockquote-font: var(--body-font);
  --button-font: "Instrument Sans", sans-serif;
  --base-font-weight-bold: 600;
  --base-letter-spacing: 0em;
  --base-line-height: 1.6rem;
  --h5-letter-spacing: 0em;
  --text-letter-spacing: 0em;
  --text-line-height: 1.6em;
  --blockquote-radius: 0px;
  --blockquote-border-width: 3px;
  --blockquote-size: .8rem;
  --blockquote-letter-spacing: .01em;
  --blockquote-line-height: 1.3em;
  --blockquote-padding-vertical: var(--0-75x);
  --blockquote-padding-horizontal: var(--1-25x);
  --container-width: 1280px;
  --container-padding-horizontal: var(--1x);
  --container-lg-width: 1440px;
  --container-sm-width: 1000px;
  --section-padding-vertical: var(--4x);
  --section-padding-vertical-tablet: var(--7x);
  --section-padding-vertical-mobile-l: var(--6x);
  --section-padding-vertical-mobile-p: var(--5x);
  --1-25x: 1.25rem;
  --sm-gap: var(--2x);
  --xs-gap: var(--1x);
  --md-gap: var(--3x);
  --lg-gap: var(--4x);
  --card-radius: 1.25rem;
  --button-padding-vertical: 1em;
  --button-padding-horizontal: 1.5em;
  --button-radius: 100rem;
  --0-75x: .75rem;
  --input-padding-vertical: var(--1x);
  --input-padding-horizontal: var(--1x);
  --input-radius: .75rem;
  --1x: 1rem;
  --2x: 2rem;
  --0-5x: .5rem;
  --1-5x: 1.5rem;
  --sm-radius: .25rem;
  --4x: 4rem;
  --round: 100rem;
  --5x: 5rem;
  --3x: 3rem;
  --image-radius: var(--card-radius);
  --8x: 8rem;
  --card-padding: var(--3x);
  --card-padding-tablet: var(--2x);
  --card-padding-mobile-l: var(--1-5x);
  --card-padding-mobile-p: var(--1-5x);
  --xxs-gap: var(--0-5x);
  --0-25x: .25rem;
  --tag-padding-horizontal: var(--0-5x);
  --tag-radius: 100rem;
  --md-radius: .5rem;
  --lg-radius: .75rem;
  --xl-radius: 1rem;
  --6x: 6rem;
  --xl-gap: var(--5x);
  --xxl-gap: var(--6x);
  --1-75x: 1.75rem;
  --7x: 7rem;
  --button-size: var(--base-font-size);
  --nav-height: 4rem;
  --tag-padding-vertical: var(--0-25x);
  flex-flow: row;
  width: 100%;
  height: 100%;
  display: block;
  position: static;
}

.image_cover.position_relative {
  position: relative;
}

.button-group {
  margin-top: var(--2x);
  grid-column-gap: var(--0-5x);
  grid-row-gap: var(--0-5x);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-group.is-align-center {
  justify-content: center;
}

.button-group.is-align-right {
  justify-content: flex-end;
}

.button-group.is-vertical-stretch {
  flex-flow: column;
  align-items: stretch;
}

.button-group.margin-top_none {
  display: block;
}

.margin-top_xsmall {
  margin-top: var(--1x);
}

.margin-top_small {
  margin-top: var(--2x);
}

.margin-top_large {
  margin-top: var(--4x);
}

.margin-top_medium {
  margin-top: var(--3x);
}

.margin-bottom_xsmall {
  margin-bottom: var(--1x);
}

.image-ratio_3x2 {
  aspect-ratio: 3 / 2;
  border-radius: var(--image-radius);
  position: relative;
  overflow: clip;
}

.divider {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: color-mix(in srgb, currentColor 15%, transparent);
  align-self: stretch;
}

.divider.is-secondary {
  border-bottom-color: color-mix(in srgb, currentColor 15%, transparent);
}

.divider.is-accent {
  border-bottom-color: var(--accent-primary);
}

.card {
  border: 0px solid var(--card-primary-border);
  border-radius: var(--card-radius);
  background-color: var(--bg-secondary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
  flex-flow: row;
  flex: 0 auto;
  list-style-type: none;
  overflow: hidden;
}

.card.is-secondary {
  border-color: var(--card-secondary-border);
  background-color: var(--card-secondary-bg);
  color: var(--card-secondary-text);
}

.card.is-accent-primary {
  border-color: var(--card-accent-primary-border);
  background-color: var(--card-accent-primary-bg);
  color: var(--card-accent-primary-text);
}

.card.is-inverse {
  border-color: var(--card-inverse-border);
  background-color: var(--card-inverse-bg);
  color: var(--card-inverse-text);
}

.card.on-secondary {
  border-color: var(--border-primary);
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
}

.card.on-inverse {
  border-color: var(--border-primary);
  background-color: var(--neutral-primary-a10);
  box-shadow: none;
  color: var(--text-inverse-primary);
  background-image: none;
}

.card.ix_card-slide-up-1, .card.ix_card-slide-up-2, .card.ix_card-slide-up-3 {
  z-index: 1;
  pointer-events: auto;
  transition: opacity .3s cubic-bezier(.55, .055, .675, .19), transform .3s cubic-bezier(.55, .055, .675, .19);
  position: relative;
}

.card.ix_card-slide-up-3:hover {
  position: relative;
}

.card.ix_card-slide-up-4 {
  z-index: 1;
  pointer-events: auto;
  transition: opacity .3s cubic-bezier(.55, .055, .675, .19), transform .3s cubic-bezier(.55, .055, .675, .19);
  position: relative;
}

.card.ix_card-slide-up-4:hover {
  z-index: 99;
}

.card.ix_card-deck-space {
  z-index: 1;
  margin-right: var(--ix-card-spacing);
  flex: none;
  align-self: stretch;
  transition: margin-right .5s cubic-bezier(.68, -.55, .265, 1.55);
}

.card.on-accent-primary, .card.on-accent-secondary, .card.on-accent-tertiary {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
}

.card.is-accent-secondary {
  background-color: var(--card-accent-secondary-bg);
  color: var(--text-on-accent-secondary);
}

.card.is-accent-tertiary {
  background-color: var(--card-accent-tertiary-bg);
  color: var(--text-on-accent-tertiary);
}

.card_body {
  z-index: 1;
  padding: var(--card-padding);
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;
  display: flex;
  position: relative;
}

.card_body.is-small {
  padding: var(--sm-gap);
}

.card_body.is-y-center {
  background-color: var(--neutral-inverse-a60);
  justify-content: center;
  align-items: center;
}

.card_body.is-space-between {
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
}

.nav {
  z-index: 99;
  color: var(--text-primary);
  font-size: var(--base-font-size);
  background-color: #fff0;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.nav.is-inverse {
  background-color: var(--bg-primary);
  color: var(--text-inverse-primary);
}

.nav.is-accent-primary {
  background-color: var(--bg-accent-primary);
  color: var(--text-on-accent-primary);
}

.nav.is-secondary {
  background-color: var(--bg-secondary);
}

.nav.is-accent-tertiary {
  background-color: var(--bg-accent-tertiary);
  color: var(--text-on-accent-tertiary);
}

.nav.is-accent-secondary {
  background-color: var(--accent-secondary);
  color: var(--text-on-accent-secondary);
}

.slider_arrow.is-inverse {
  color: var(--link-inverse);
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.slider_arrow.is-inverse:hover {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.image-ratio_2x3 {
  aspect-ratio: 2 / 3;
  border-radius: var(--image-radius);
  position: relative;
  overflow: clip;
}

.height_100percent {
  height: 100%;
}

.flex_horizontal {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  display: flex;
}

.flex_horizontal.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.flex_horizontal.flex_vertical {
  flex-direction: column;
}

.flex_horizontal.flex_vertical.is-x-center {
  justify-content: flex-start;
  align-items: center;
}

.flex_horizontal.flex_vertical.is-y-center {
  justify-content: center;
}

.flex_horizontal.flex_vertical.is-space-between {
  justify-content: space-between;
}

.flex_horizontal.gap-xsmall {
  grid-column-gap: var(--xs-gap);
  grid-row-gap: var(--xs-gap);
}

.flex_horizontal.gap-xxsmall {
  grid-column-gap: var(--xxs-gap);
  grid-row-gap: var(--xxs-gap);
}

.flex_horizontal.is-wrap {
  flex-wrap: wrap;
}

.flex_horizontal.gap-large {
  grid-column-gap: var(--lg-gap);
  grid-row-gap: var(--lg-gap);
}

.flex_horizontal.gap-medium {
  grid-column-gap: var(--md-gap);
  grid-row-gap: var(--md-gap);
}

.flex_horizontal.is-y-bottom {
  align-items: flex-end;
}

.flex_horizontal.is-x-center {
  justify-content: center;
}

.flex_horizontal.is-shift-left {
  transform: translate(-15%);
}

.accordion_icon.is-inverse {
  transform: rotate(180deg);
}

.image-ratio_4x3 {
  aspect-ratio: 4 / 3;
  border-radius: var(--image-radius);
  position: relative;
  overflow: clip;
}

.image-ratio_1x1 {
  aspect-ratio: 1;
  border-radius: var(--image-radius);
  overflow: clip;
}

.tag.is-inverse {
  background-color: var(--neutral-inverse-a80);
  color: var(--neutral-primary);
}

.tab_menu-button.on-inverse:hover {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tab_menu-button.on-inverse.w--current:hover {
  background-color: var(--accent-primary-hover);
  opacity: .8;
}

.icon {
  width: var(--2x);
  height: var(--2x);
  color: var(--text-accent-on-primary);
  vertical-align: middle;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon.is-small {
  width: var(--1-25x);
  height: var(--1-25x);
}

.icon.is-xsmall {
  width: var(--1x);
  height: var(--1x);
}

.icon.is-xsmall.is-background {
  padding: var(--0-25x);
}

.icon.on-inverse {
  color: var(--text-inverse-primary);
}

.icon.on-inverse.is-background {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.icon.on-accent-primary, .icon.on-accent-secondary, .icon.on-accent-tertiary {
  color: inherit;
}

.icon.is-background.on-inverse {
  color: var(--text-inverse-primary);
}

.icon.is-medium {
  width: var(--1-5x);
  height: var(--1-5x);
}

.icon.is-large {
  width: var(--3x);
  height: var(--3x);
}

.icon.is-large.is-background.margin-bottom_xsmall {
  width: 3rem;
}

.icon.is-xlarge {
  width: var(--5x);
  height: var(--5x);
}

.divider-vertical.is-secondary {
  border-left-color: color-mix(in srgb, currentColor 15%, transparent);
}

.overlay_opacity-middle.is-inverse {
  background-color: var(--neutral-primary);
  opacity: .75;
}

.text-button {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: var(--link-primary);
  font-size: var(--1x);
  font-weight: var(--h5-weight);
  flex: none;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: inline-flex;
}

.text-button:hover {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  color: var(--accent-primary-hover);
}

.text-button.is-small {
  font-size: var(--0-75x);
}

.text-button.on-inverse {
  color: var(--link-inverse);
}

.text-button.on-inverse:hover {
  opacity: .7;
}

.text-button.is-secondary {
  color: inherit;
  transition-property: opacity, color;
  transition-duration: .3s, .3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.text-button.is-secondary:hover {
  opacity: .6;
}

.text-button.on-accent-primary {
  color: inherit;
}

.text-button.on-accent-primary:hover {
  opacity: .6;
  color: inherit;
}

.text-button.on-accent-tertiary, .text-button.on-accent-tertiary:hover, .text-button.on-accent-secondary, .text-button.on-accent-secondary:hover {
  color: inherit;
}

.radio_toggle.on-inverse {
  border-width: 1px;
  border-color: var(--input-inverse-border);
  background-color: var(--neutral-inverse);
}

.radio_toggle.on-inverse:hover {
  background-color: var(--input-inverse-bg-hover);
}

.radio_toggle.on-inverse.w--redirected-checked {
  border-width: 6px;
  border-color: var(--neutral-inverse);
  background-color: var(--bg-primary);
}

.text-color_secondary {
  color: color-mix(in srgb, currentColor 75%, transparent);
}

.text-color_inverse-secondary {
  color: color-mix(in srgb, currentColor 70%, transparent);
}

.text-link {
  color: var(--link-primary);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  font-weight: 400;
  display: inline;
}

.text-link:hover {
  color: var(--link-primary-hover);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link.is-small {
  font-size: var(--0-75x);
}

.text-link.is-secondary {
  color: var(--link-secondary);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
}

.text-link.is-secondary:hover {
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link.on-accent-primary {
  color: inherit;
}

.text-link.on-accent-primary:hover {
  opacity: .6;
  color: inherit;
}

.text-link.on-accent-secondary {
  color: inherit;
}

.text-link.on-accent-secondary:hover {
  opacity: .6;
  color: inherit;
}

.text-link.on-accent-tertiary {
  color: inherit;
}

.text-link.on-accent-tertiary:hover {
  opacity: .6;
  color: inherit;
}

.text-link.on-inverse {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);
}

.text-link.on-inverse:hover {
  opacity: .6;
  color: inherit;
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.max-width_medium {
  max-width: 40rem;
}

.max-width_large {
  max-width: 50rem;
}

.footer {
  padding-top: var(--4x);
  padding-bottom: var(--4x);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.footer.is-secondary {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.footer.is-accent-primary {
  background-color: var(--accent-primary);
  color: var(--text-on-accent-primary);
}

.footer.is-inverse {
  background-color: var(--bg-inverse);
  color: var(--text-inverse-primary);
}

.footer.is-accent-secondary {
  background-color: var(--bg-accent-secondary);
  color: var(--text-on-accent-secondary);
}

.footer.is-accent-tertiary {
  background-color: var(--bg-accent-tertiary);
  color: var(--text-on-accent-tertiary);
}

.card-link {
  border: 0px solid var(--card-primary-border);
  border-radius: var(--card-radius);
  background-color: var(--bg-secondary);
  box-shadow: none;
  opacity: 1;
  color: var(--text-primary);
  background-image: none;
  flex-flow: column;
  margin-bottom: 0;
  text-decoration: none;
  list-style-type: none;
  transition: all .16s linear;
  display: flex;
  overflow: clip;
  transform: translateY(0);
}

.card-link:hover {
  background-color: var(--bg-secondary);
  box-shadow: none;
  opacity: .6;
  color: var(--card-primary-text);
  transform: translateY(0);
}

.card-link.on-secondary {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
  border-color: #000000e6;
}

.card-link.on-secondary:hover {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: #000;
}

.card-link.on-accent-primary {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
  border-color: #000000e6;
}

.card-link.on-accent-primary:hover {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: #000;
}

.card-link.on-inverse {
  background-color: var(--neutral-primary-a10);
  box-shadow: none;
  color: var(--text-inverse-primary);
  background-image: none;
  border-color: #000000e6;
}

.card-link.on-inverse:hover {
  background-color: var(--neutral-primary-a10);
  box-shadow: none;
  color: #000;
}

.card-link.on-accent-secondary {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
}

.card-link.on-accent-secondary:hover {
  background-color: var(--bg-primary);
  box-shadow: none;
}

.card-link.on-accent-tertiary {
  background-color: var(--bg-primary);
  box-shadow: none;
  color: var(--text-primary);
  background-image: none;
}

.card-link.on-accent-tertiary:hover {
  background-color: var(--bg-primary);
  box-shadow: none;
}

.card-link.is-inverse {
  border-color: var(--card-inverse-border);
  background-color: var(--card-inverse-bg);
  color: var(--card-inverse-text);
}

.z-index_2 {
  z-index: 2;
}

.margin_bottom-auto {
  margin-bottom: auto;
}

.margin-left_medium {
  margin-left: var(--2x);
}

.logo.is-medium {
  height: var(--md-gap);
}

.flex_vertical {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  display: flex;
}

.flex_vertical.is_align-center-flex {
  align-items: center;
}

.flex_vertical.gap-xsmall {
  grid-column-gap: var(--xs-gap);
  grid-row-gap: var(--xs-gap);
}

.flex_vertical.gap-xxsmall {
  grid-column-gap: var(--xxs-gap);
  grid-row-gap: var(--xxs-gap);
}

.flex_vertical.gap-large {
  grid-column-gap: var(--lg-gap);
  grid-row-gap: var(--lg-gap);
}

.flex_vertical.is_align-end-flex {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex_vertical.gap-medium {
  grid-column-gap: var(--md-gap);
  grid-row-gap: var(--md-gap);
}

.flex_vertical.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.flex_vertical.is-y-center {
  justify-content: center;
  align-items: stretch;
}

.flex_vertical.gap-xlarge {
  grid-column-gap: var(--xl-gap);
  grid-row-gap: var(--xl-gap);
}

.flex_vertical.is-x-center {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.flex_vertical.is_space-between {
  justify-content: space-between;
  align-items: stretch;
}

.nav_link {
  grid-column-gap: var(--xxs-gap);
  grid-row-gap: var(--xxs-gap);
  border-top-left-radius: var(--button-radius);
  border-top-right-radius: var(--button-radius);
  border-bottom-left-radius: var(--button-radius);
  border-bottom-right-radius: var(--button-radius);
  white-space: nowrap;
  word-break: keep-all;
  color: color-mix(in srgb, currentColor 75%, transparent);
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding: .5em .75em;
  text-decoration: none;
  display: flex;
}

.nav_link:hover {
  background-color: color-mix(in srgb, currentColor 5%, transparent);
  color: inherit;
}

.nav_link.w--current, .nav_link.w--open {
  background-color: var(--button-secondary-bg-hover);
}

.nav_link.on-accent-primary {
  background-color: inherit;
}

.nav_link.on-accent-primary:hover {
  background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.nav_link.on-accent-primary.w--current {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.nav_link.on-accent-secondary:hover {
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.nav_link.on-accent-secondary.w--current {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.nav_link.on-inverse {
  color: var(--text-inverse-secondary);
  background-color: color-mix(in srgb, currentColor 0%, transparent);
}

.nav_link.on-inverse:hover {
  color: var(--text-inverse-primary);
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.nav_link.on-inverse.w--current {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.footer_link {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: color-mix(in srgb, currentColor 60%, transparent);
  justify-content: flex-start;
  align-items: center;
  padding-top: .35em;
  padding-bottom: .35em;
  font-weight: 400;
  text-decoration: none;
  display: inline-flex;
}

.footer_link:hover {
  opacity: 1;
  color: color-mix(in srgb, currentColor 100%, transparent);
  text-decoration: underline;
}

.footer_link.on-inverse, .footer_link.on-inverse:hover {
  color: var(--nav-link-inverse);
}

.overflow_clip {
  overflow: clip;
}

.flex-child_expand {
  flex: 1;
}

.sg_card-wrapper.width_100percent.section.is-accent-secondary.sg_accent-secondary-visibility {
  display: none;
}

.sg_section-border.padding_large.text-align_center {
  border-top-color: color-mix(in srgb, currentColor 50%, transparent);
  border-right-color: color-mix(in srgb, currentColor 50%, transparent);
  border-bottom-color: color-mix(in srgb, currentColor 50%, transparent);
  border-left-color: color-mix(in srgb, currentColor 50%, transparent);
}

.ix_card-stack-1, .ix_card-stack-2, .ix_card-stack-3 {
  position: relative;
}

.nav_container {
  max-width: var(--container-width);
  padding: var(--0-75x) var(--container-padding-horizontal);
  border-bottom-left-radius: var(--card-radius);
  border-bottom-right-radius: var(--card-radius);
  background-color: #ddd0;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_right {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
  flex-flow: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.is-background {
  box-sizing: content-box;
  padding-top: var(--0-5x);
  padding-right: var(--0-5x);
  padding-bottom: var(--0-5x);
  padding-left: var(--0-5x);
  border-top-left-radius: var(--button-radius);
  border-top-right-radius: var(--button-radius);
  border-bottom-left-radius: var(--button-radius);
  border-bottom-right-radius: var(--button-radius);
  color: var(--text-accent-on-primary);
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.is-background.on-accent-primary, .is-background.on-accent-secondary, .is-background.on-accent-tertiary {
  color: inherit;
}

.is-background.on-inverse {
  color: var(--text-accent-on-inverse);
}

.button_icon {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  display: inline-flex;
}

.image {
  object-fit: contain;
  width: 100%;
}

.image.image_cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.subheading {
  max-width: var(--container-sm-width);
  margin-bottom: var(--1-25x);
  font-family: var(--body-font);
  font-size: var(--lg-text-size);
  line-height: var(--lg-text-line-height);
  letter-spacing: var(--lg-text-letter-spacing);
  color: color-mix(in srgb, currentColor 70%, transparent);
  text-wrap: balance;
}

.subheading p {
  letter-spacing: 0;
  font-size: inherit;
  margin-bottom: inherit;
}

.on-inverse.is-background {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.backdrop-filter_blur {
  backdrop-filter: blur(50px);
}

.grid_3-col {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gap-xsmall {
  grid-column-gap: var(--xs-gap);
  grid-row-gap: var(--xs-gap);
}

.gap-xxsmall {
  grid-column-gap: var(--xxs-gap);
  grid-row-gap: var(--xxs-gap);
}

.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.gap-medium {
  grid-column-gap: var(--md-gap);
  grid-row-gap: var(--md-gap);
}

.gap-large {
  grid-column-gap: var(--lg-gap);
  grid-row-gap: var(--lg-gap);
}

.gap-xxlarge {
  grid-column-gap: var(--xxl-gap);
  grid-row-gap: var(--xxl-gap);
}

.grid_9-col.gap-xsmall {
  grid-column-gap: var(--xs-gap);
  grid-row-gap: var(--xs-gap);
}

.grid_6-col {
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid_6-col.gap-medium {
  grid-column-gap: var(--md-gap);
  grid-row-gap: var(--md-gap);
}

.grid_6-col.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.grid_6-col.gap-xsmall {
  grid-column-gap: var(--xs-gap);
  grid-row-gap: var(--xs-gap);
}

.grid_5-col {
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid_5-col.gap-medium {
  grid-column-gap: var(--md-gap);
  grid-row-gap: var(--md-gap);
}

.grid_5-col.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.grid_4-col.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.grid_4-col.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: var(--xs-gap);
}

.grid_1-col.gap-small {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
}

.grid_1-col.gap-medium {
  grid-column-gap: var(--md-gap);
  grid-row-gap: var(--md-gap);
}

.tabs_nav.is-align-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.is-y-center {
  place-items: center stretch;
}

.image-ratio_auto {
  aspect-ratio: auto;
  border-radius: var(--image-radius);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: clip;
}

.nav_center {
  padding-right: var(--sm-gap);
  padding-left: var(--sm-gap);
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: block;
  position: static;
}

.nav_menu {
  background-color: #0000;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: static;
}

.nav_menu-list {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav_menu-list-item {
  margin-bottom: 0;
  display: flex;
}

.nav_dropdown-menu {
  position: static;
}

.nav-caret {
  color: var(--neutral-inverse-a90);
  margin: 0;
  position: relative;
}

.mega-nav_dropdown-list.w--open {
  padding-top: var(--1-25x);
  background-color: #0000;
  left: 0;
  right: 0;
}

.mega-nav_dropdown-list-wrapper {
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  border-bottom-left-radius: var(--card-radius);
  border-bottom-right-radius: var(--card-radius);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 4px 8px -2px #0000001a;
}

.mega-nav_dropdown-list-wrapper.w--open {
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  border-bottom-left-radius: var(--card-radius);
  border-bottom-right-radius: var(--card-radius);
  order: 0;
  justify-content: center;
  align-self: auto;
  padding: 2rem;
  display: flex;
  position: absolute;
  inset: 100% 0% auto;
  box-shadow: 0 8px 8px -4px #0000001a;
}

.mega-nav_list {
  grid-column-gap: var(--sm-gap);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.mega-nav_link-item {
  padding-top: var(--0-5x);
  padding-bottom: var(--0-5x);
  grid-column-gap: var(--xxs-gap);
  grid-row-gap: var(--xxs-gap);
  color: var(--text-primary);
  text-decoration: none;
  transition: color .2s;
  display: flex;
}

.button_label {
  white-space: pre;
}

.header.is-2-col {
  grid-column-gap: var(--sm-gap);
  grid-row-gap: var(--sm-gap);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.header.is-align-center {
  text-align: center;
  align-items: center;
  display: flex;
}

.header {
  margin-bottom: var(--md-gap);
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.footer_bottom {
  grid-column-gap: var(--xs-gap);
  grid-row-gap: var(--xs-gap);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_icon-group {
  grid-column-gap: var(--0-5x);
  grid-row-gap: var(--0-5x);
  background-color: #0000;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.footer_icon-link {
  width: var(--2x);
  height: var(--2x);
  color: color-mix(in srgb, currentColor 70%, transparent);
  justify-content: center;
  align-items: center;
  padding: .35rem;
  display: inline-flex;
}

.nav_menu-list-item-copy {
  margin-bottom: 0;
  display: flex;
}

.text-block {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
}

.paragraph-2 {
  font-family: var(--base-font);
  font-size: var(--h3-size);
  line-height: 30px;
  font-weight: var(--h1-weight);
  text-align: center;
  margin-top: 30px;
  margin-left: 0;
  position: relative;
}

.text-block-2, .text-block-3, .text-block-4 {
  color: var(--neutral-inverse-a90);
}

.text-block-5 {
  letter-spacing: normal;
  font-weight: 700;
}

.text-block-6, .text-block-7, .text-block-8 {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
.section {
    padding-top: var(--section-padding-vertical-tablet);
    padding-bottom: var(--section-padding-vertical-tablet);
  }
.grid_2-col.tablet-1-col {
    grid-template-columns: 1fr;
  }
.grid_2-col.is-y-bottom {
    align-items: end;
  }
.margin-top_none {
    margin-top: 0;
  }
.margin-bottom_none {
    margin-bottom: 0;
  }
.padding-bottom_none {
    padding-bottom: 0;
  }
.position_sticky.is-desktop-only {
    position: static;
  }
.position_sticky.tablet-stick-bottom {
    top: auto;
    bottom: 0;
  }
.card.tablet-unset-card {
    border-style: none;
  }
.card_body {
    padding: var(--card-padding-tablet);
  }
.card_body.height_auto_tablet {
    flex: 0 auto;
  }
.nav {
    height: auto;
  }
.height_100percent {
    order: -9999;
  }
.flex_horizontal.tablet-vertical {
    flex-flow: column;
  }
.flex_horizontal.tablet-vertical.tablet-y-center {
    justify-content: center;
  }
.flex_horizontal.tablet-vertical.tablet-x-center {
    align-items: center;
  }
.flex_horizontal.tablet-flex-horizontal {
    flex-flow: row;
  }
.footer {
    padding-top: var(--3x);
    padding-bottom: var(--3x);
  }
.flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
.nav_link {
    font-size: var(--lg-text-size);
    justify-content: space-between;
    align-items: center;
  }
.nav_link:hover {
    color: var(--link-primary);
    background-color: color-mix(in srgb, currentColor 0%, transparent);
  }
.nav_link.w--current:hover {
    background-color: var(--button-secondary-bg-hover);
  }
.nav_link.w--open {
    background-color: #0000;
  }
.grid_3-col.tablet-1-col {
    grid-template-columns: 1fr;
  }
.grid_9-col, .grid_6-col {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 1fr;
  }
.grid_6-col.tablet-1-col {
    grid-template-columns: minmax(0, 1fr);
  }
.grid_5-col {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 1fr;
  }
.grid_5-col.tablet-1-col {
    grid-template-columns: 1fr;
  }
.grid_4-col.tablet-1-col {
    grid-template-columns: minmax(0, 1fr);
  }
.nav_menu {
    padding-top: var(--1x);
    padding-right: var(--1x);
    padding-bottom: var(--1x);
    padding-left: var(--1x);
    border-top-left-radius: var(--md-radius);
    border-top-right-radius: var(--md-radius);
    border-bottom-left-radius: var(--md-radius);
    border-bottom-right-radius: var(--md-radius);
    background-color: var(--bg-primary);
    height: auto;
    max-height: calc(100dvh - 10rem);
    position: absolute;
    top: 100%;
    overflow: auto;
    box-shadow: 0 4px 8px #0000001a;
  }
.nav_menu-list {
    flex-flow: column;
  }
.nav_menu-list-item {
    flex-flow: column;
    margin-bottom: 0;
  }
.nav_dropdown-menu {
    width: 100%;
    height: auto;
  }
.mega-nav_dropdown-list.w--open {
    padding-bottom: var(--0-5x);
    height: auto;
    position: relative;
    top: 0%;
  }
.mega-nav_dropdown-list-wrapper {
    z-index: 3;
    box-shadow: none;
    background-color: color-mix(in srgb, currentColor 5%, transparent);
    padding: 1rem;
  }
.mega-nav_dropdown-list-wrapper.w--open {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    top: auto;
    left: 0;
    right: 0;
  }
.nav_menu-list-item-copy {
    flex-flow: column;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
.section {
    padding-top: var(--section-padding-vertical-mobile-l);
    padding-bottom: var(--section-padding-vertical-mobile-l);
  }
.grid_2-col {
    grid-template-columns: minmax(0, 1fr);
  }
.grid_2-col.gap-small {
    grid-column-gap: var(--xs-gap);
    grid-row-gap: var(--xs-gap);
  }
.grid_2-col.gap-medium {
    grid-column-gap: var(--sm-gap);
    grid-row-gap: var(--sm-gap);
  }
.grid_2-col.mobile-l-1-col {
    grid-template-columns: 1fr;
  }
.grid_2-col.gap-large {
    grid-column-gap: var(--sm-gap);
    grid-row-gap: var(--sm-gap);
  }
.margin-top_none {
    margin-top: 0;
  }
.margin-bottom_none {
    margin-bottom: 0;
  }
.padding-bottom_none {
    padding-bottom: 0;
  }
.margin-top_small {
    margin-top: var(--1x);
  }
.margin-top_large {
    margin-top: var(--2x);
  }
.margin-top_large.mobile-landscape-0 {
    margin-top: 0;
  }
.margin-top_medium {
    margin-top: var(--1-5x);
  }
.card_body {
    padding: var(--card-padding-mobile-l);
  }
.card_body.is-y-center {
    justify-content: center;
    align-items: stretch;
  }
.flex_horizontal.gap-large {
    grid-column-gap: var(--2x);
    grid-row-gap: var(--2x);
  }
.flex_horizontal.flex_vertical_mobile-l {
    flex-flow: column;
  }
.flex_horizontal.mobile-horizontal {
    flex-flow: row;
  }
.flex_horizontal.mobile-l-vertical {
    flex-flow: column;
  }
.ratio_auto_mobile-l {
    aspect-ratio: auto;
  }
.flex_vertical.gap-large {
    grid-column-gap: var(--2x);
    grid-row-gap: var(--2x);
    display: flex;
  }
.hide_mobile-l {
    display: none;
  }
.grid_3-col {
    grid-template-columns: 1fr;
  }
.grid_9-col, .grid_6-col, .grid_5-col {
    grid-template-columns: minmax(0, 1fr) 1fr;
  }
.grid_5-col.gap-medium {
    grid-column-gap: var(--sm-gap);
    grid-row-gap: var(--sm-gap);
  }
.grid_5-col.gap-small {
    grid-column-gap: var(--xs-gap);
    grid-row-gap: var(--xs-gap);
  }
.grid_1-col.gap-small {
    grid-column-gap: var(--xs-gap);
    grid-row-gap: var(--xs-gap);
  }
.grid_1-col.gap-medium {
    grid-column-gap: var(--sm-gap);
    grid-row-gap: var(--sm-gap);
  }
.header {
    margin-bottom: var(--2x);
    margin-bottom: var(--2x);
  }
.header.is-2-col {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    display: flex;
  }
.header {
    margin-bottom: var(--2x);
  }
.footer_bottom {
    text-align: center;
    flex-flow: column;
  }
}

@media screen and (max-width: 479px) {
.section {
    padding-top: var(--section-padding-vertical-mobile-p);
    padding-bottom: var(--section-padding-vertical-mobile-p);
  }
.button {
    white-space: nowrap;
  }
.margin-top_none {
    margin-top: 0;
  }
.margin-bottom_none {
    margin-bottom: 0;
  }
.padding-bottom_none {
    padding-bottom: 0;
  }
.button-group {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: auto;
    overflow: visible;
  }
.card_body {
    padding: var(--card-padding-mobile-p);
  }
.grid_9-col, .grid_6-col, .grid_5-col, .grid_12-col, .grid_8-col {
    grid-template-columns: minmax(0, 1fr);
  }
.nav_center.width_100percent_mobile {
    display: block;
  }
.footer_icon-group {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
.paragraph-2 {
    font-family: var(--blockquote-font);
  }
.link-block {
    display: flex;
  }
.link-block.w--current {
    flex-flow: row;
    display: flex;
  }
.image-3 {
    display: block;
  }
}